@charset "UTF-8";

@media screen and (max-width:479px) {


    html {
        overflow-y: scroll;
        /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
        /*Internet Explorerが独自に追加したプロパティ*/
        /*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
    }

    /* リセットおまじない--------------------------------- */

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    ul,
    ol,
    li,
    dl,
    dt,
    dd {
        margin: 0px;
        padding: 0px;
    }


    /* body {
    background: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
} */

    li {
        list-style: none;
        font-size: 14px;
    }

    a {
        outline: none;
        color: inherit;
        text-decoration: none;
    }

    img {
        border: 0px;
        vertical-align: bottom;
    }

    /* --------------------------------------------------- */

    body {
        font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
    }

    /* clone より */
    .header {
        background-color: brown;
    }

    h1 {
        font-size: 20px;
    }

    /* base.htmlの設定 */
    .base_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: skyblue;
        font-size: 24px;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
    }

    .menu_item {
        margin: 5px 15px;
    }

    /* ハンバーガーメニュー */
    /* header .hum_menu a {
        display: block;
        height: 20px;
        padding: 10px 0;
        width: 40px;
        background: #eeeaec;
        text-align: center;
    }

    header .hum_menu span {
        display: block;
        width: 20px;
        height: 2px;
        background: #aaa;
        margin: 3px auto;
    } */



    /* 各ページ共通 ページタイトルの設定 */
    .title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 36px;
        height: 150px;
        /* background-color: blue; */
    }

    /* 記事一覧 thread.htmlの設定  */

    .thread_box {
        /* 上部メニュー */
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        margin: 10px 10%;
    }

    .box1 {
        /*   記事タイトル一覧 */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100px;
        border: 1px solid skyblue;
        margin: 10px 10%;
    }

    .item1 {
        /* 日付 */
        width: 10%;
        padding: 10px;
        margin: 10%;
    }

    .item2 {
        /* 記事タイトル */
        padding: 10px;
        text-align: left;
    }


    /* 記事詳細ページ main.htmlの設定 */
    .main_header {
        /* 記事ヘッダ */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: 24px;
        border: 1px solid skyblue;
        padding: 0 150px;
        margin: 10px 50px;
    }

    .item3 {
        /* エリア・期間 */
        padding: 0 10px;
    }

    .btn1 {
        /* 投稿するボタン */
        display: flex;
        justify-content: flex-end;
        margin: 10px 50px;
    }

    .box3 {
        /* 投稿表示 */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: skyblue;
        margin: 10px 200px;
    }

    .item5 {
        max-width: 400px;
        max-height: 400px;
        margin: 20px;
        padding: 15px;
        /* background-color: steelblue; */
    }

    .item5 img {
        max-width: 400px;
        max-height: 400px;
    }

    .item6 {
        font-size: 24px;
        width: 600px;

        /* background-color: steelblue; */
    }

    .item7 {
        font-size: 18px;
        margin: 10px;
        /* background-color: steelblue; */
    }

    /* ここから mypage  */
    .mypg_box1 {
        /* マイページのユーザー情報 */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        margin: 10px 10%;
    }

    .f_item1 {
        width: 15%;
        padding: 10px;
        text-align: left;
    }

    .f_item2 {
        width: 20%;
        padding: 10px;
        margin: 10px;
        text-align: left;
        border: 1px solid skyblue;
        ;
    }

    .f_item3 {
        padding: 10px;
        text-align: left;
    }

    .mypg_box2 {
        /* マイページの記事一覧 */
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        border: 1px solid skyblue;
        margin: 10px 10%;
    }

    .my_item {
        min-width: 10%;
    }

    .my_item2 {
        width: 50%;
    }

    /* TOP.html の CSS */
    header {
        height: 60px;
        background: white;
        text-align: center;
        position: fixed;
        width: 100%;
    }

    header ul {
        width: 800px;
        margin: 0 auto;
        display: flex;
    }

    header li {
        color: black;
        width: 25%;
        line-height: 60px;
        transition: 0.2s;
        /*メニューをホバーした時の変化時間*/
    }

    header li:hover {
        /*メニューをホバーしたときに色が変わる*/
        color: tomato;
    }

    section {
        text-align: center;
        padding: 100px 0;
    }

    section p {
        font-size: 30px;
        line-height: 50px;
        margin: 30px 10px 50px 0;
        font-weight: 200;
    }

    .box {
        max-width: 1200px;
        margin: 0 auto;
    }

    #sec1 {
        background: url(../img/IMG_2658.JPG) no-repeat center center;
        height: 400px;
        background-size: cover;
    }

    #sec1 h1 {
        font-size: 70px;
        color: #fff;
        padding: 100px 50px 0 0;
        margin-right: 30px;
    }

    #sec1 h2 {
        font-size: 10px;
        color: yellow;
        margin-right: 170px;
        margin-bottom: 80px;
    }


    #sec2 a {
        font-size: 30px;
    }

    #sec2 a:hover {
        color: tomato;
    }

    /* TOPのCSSここまで */

    /* ここからloginページ */

    .log0 {
        height: 300px;
        width: 700px;
        background-color: #ccffff;
        margin: 0 auto;
        border: solid black;
    }

    .log1 {
        margin-top: 30px;
        color: black;

    }

    /*  ここから secondページ */
    h1 {
        color: black;
        font-size: 30px;
        margin-left: 600px;
    }

    .hover1:hover {
        opacity: 0.6;
    }

    .container {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;

        flex-direction: row;
    }

    .content {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }


    .box1 {
        width: 300px;
        height: 200px;
        margin: 70px;
        background-color: #B6E2FF;
        text-align: center;
    }

    .box1 a {
        color: black;
        margin: 20px 10px 10px 10px;

    }

    .box2 {
        width: 300px;
        height: 200px;
        margin: 70px;
        background-color: #B6E2FF;
        text-align: center;
    }

    .box2 a {
        color: black;
        margin: 20px 10px 10px 10px;
    }

    .box3 {
        width: 300px;
        height: 200px;
        margin: 70px;
        background-color: #B6E2FF;
        text-align: center;
    }

    .box3 a {
        color: black;
        margin: 20px 10px 10px 10px;
    }

    .box4 {
        width: 300px;
        height: 200px;
        margin: 70px;
        background-color: #B6E2FF;
        text-align: center;
    }

    .box4 a {
        color: black;
        margin: 20px 10px 10px 10px;
    }

    .box5 {
        width: 300px;
        height: 200px;
        margin: 70px;
        background-color: #B6E2FF;
        text-align: center;
    }

    .box5 a {
        color: black;
        margin: 20px 10px 10px 10px;
    }

    .box6 {
        width: 300px;
        height: 200px;
        margin: 70px;
        background-color: #B6E2FF;
        text-align: center;
    }

    .box6 a {
        color: black;
        margin: 20px 10px 10px 10px;
    }

    /* ここからnewページ(アカウント登録) */
    .new1 {
        height: 300px;
        width: 700px;
        background-color: #ccffff;
        margin: 0 auto;
        border: solid black;
    }

    .new2 {
        margin-top: 55px;
    }

    /* ここから/pageadd */
    .trav {
        font-size: 15px;

    }

    .trav1 {
        height: 300px;
        width: 700px;
        background-color: #ccffff;
        margin: 0 auto;
        border: solid black;
    }

    .trav2 {
        margin: 3px;
    }