<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>all-link</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div class="title"></div>
    <div class="alllink">
        <p> <a href="/">index  TOPページ</a></p>
        <p> <a href="/login">login ログイン</a></p>
        <p> <a href="/main">main 記事詳細</a></p>
        <p> <a href="/mypage">mypage マイページ</a></p>
        <p> <a href="/thread">thread 記事一覧</a></p>
        <p> <a href="/pageadd">pageadd ページ作成</a></p>
        <p> <a href="/useradd">useradd ユーザー登録</a></p>
        <p> <a href="/nwe"></a>nwe </p>
        <p> <a href="/postadd"></a>post 記事投稿</p>
        <p> <a href="/second"></a>second 地域選択</p>
        <p> <a href=""></a></p>
        <p> <a href=""></a></p>
        <p> <a href=""></a></p>
        <p> <a href=""></a></p>
        <p> <a href=""></a></p>
        <p> <a href=""></a></p>
    </div>
</body>
</html>
