<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>いい旅夢気分♪チーム</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/css/style_sp.css">
</head>

<body>
	<header>
		<!-- <div class="hum_menu">
			<!- このクラスがハンバーガーボタンになる -->
		<!-- <a href="javascript:void(0);">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div> -->

		<div class="base_menu">
			<div class="menu_item"><a href="/"><img src="static/img/logo.png" alt="TOP"></a></div>
			<div class="menu">
				<div class="menu_item"><a href="/login">ログイン</a></div>
				<div class="menu_item"><a href="/mypage">Myページ</a></div>
				<div class="menu_item"><a href="/nwe">アカウント作成</a></div>
				<div class="menu_item"><a href="/pageadd">記事作成</a></div>
				<!-- <div class="menu_item"><a href="/alllink">all-link</a></div> -->
			</div>
		</div>
	</header>

	{% block content %}
	{% endblock %}

	<footer>
		<p class="copyright">Copyright &copy; 夜E3 all rights reserved.</p>
	</footer>

</body>

</html>