<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<h2>記事一覧ページ</h2>
<div>
    <div>
      <p>北海道</p>
    </div>
    <div>
       <p></p>
    </div>
    <div>
        <form action="#" method="post">
            <select name="month">
                <option value="1">１月</option>
                <option value="2">２月</option>
                <option value="3">３月</option>
                <option value="4">４月</option>
                <option value="5">５月</option>
                <option value="6">６月</option>
                <option value="7">７月</option>
                <option value="8">８月</option>
                <option value="9">９月</option>
                <option value="10">１０月</option>
                <option value="11">１１月</option>
                <option value="12">１２月</option>
            </select>
        </form>
    </div>
</div>

<section>
    <div>
        <p>ここに一覧が表示されます</p>
    </div>
    <div>
        <p>ここに一覧が表示されます</p>
    </div>
    <div>
        <p>ここに一覧が表示されます</p>
    </div>
    <div>
        <p>ここに一覧が表示されます</p>
    </div>
</section>



{% endblock %}