<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class="title"></div>
<form action="/login" method="POST">
    <ul>
        <li>
            <label for="adress">アドレス：</label>
            <input type="text" name="adress" size="100" naxlength="100">
        </li>
        <li>
            <label for="password">パス：</label>
            <input type="password" name="password" size="100" naxlength="100">
        </li>
    </ul>
    <input type="submit" value="ログイン" name="save">
</form>

{% endblock %}