<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div>


    <form action="/login" method="post">

        <br>
        <br>
        <br>
        <br>
        <section class="log00">
            <div class="log0">
                <br>
                <div class="log1">アドレス</div><input type="text" name="adress">
                <div class="log2">パスワード</div><input type="password" name="password"><br><br>
                <input type="submit" value="ログイン"><br><br>



                <a href="/nwe">登録がまだの方はこちら</a>
            </div>
        </section>
    </form>
</div>


{% endblock %}