<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div>


    <form action="/login" method="post">

        <br>
        <br>
        <br>
        <br>
        <section class="log00">
            <div class="log0">
                <br>
                <div class="log1">アドレス</div><input type="text" name="adress">
                <div class="log2">パスワード</div><input type="password" name="password"><br><br>
                <input type="submit" value="ログイン">
                <br>
                <a href="/new">登録がまだの方はこちら</a>
                <br><br>
                {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="{{ category }}" id="alert">{{ message }}</div>
                {% endfor %}
            </div>
        </section>
    </form>
</div>


{% endblock %}