<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

    <!-- タイトル・エリア・期間はDBからselect -->
    <div class="title">北海道４日５日</div>
    <div class="box2">
      <div class="item3">北海道</div>
      <div class="item3">2020/06/22 ~ 2020/06/26</div>
    </div>

    <div class="btn1"><button><a href="/"></a> 投稿する</button></div>

    <!-- 記事はすべてDBからselect-->
    {% for item in post %}
    <div class="box3">
      <div class="item5">{{item["image"]}}</div>
      <div class="item6">{{item["content"]}}</div>
      <div class="item7">{{item["datetime"]}}</div>
      <div class="item8"><button>削除</button></div>
    </div>
    {% endfor %}

{% endblock %}