<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<!-- タイトル・エリア・期間はDBからselect -->
<div class="title">{{page[0]}}</div>
<div class="main_header">
  <div class="item3">{{area[0]}}</div>
  <div class="item3">{{page[2]}}/{{page[3]}}</div>
  <div class="item3">{{page[4]}}</div>
</div>

<!-- 削除に変更しました 0624寺尾-->
<div class="btn1"><button><a href="/deletepage/{{pageid}}>"></a> 削除</button></div>

<!-- 記事はすべてDBからselect-->
{% for item in story %}
<div class="mbox3">
  <div class="item5"><img src="/static/img/{{item['image']}}" alt="{{item['image']}}"></div>
  <div class="item6">{{item["content"]}}</div>
  <div class="item7">{{item["datetime"]}}</div>
  <div class="item8"><button><a href="/deletepost/{{item['id']}}">削除</a></button></div>
</div>
{% endfor %}

{% endblock %}