<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>記事ページ</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  <div class="main">
    <!-- タイトル・エリア・期間はDBからselect -->
    <div class="title">北海道４日５日</div>
    <div class="box2">
      <div class="item3">北海道</div>
      <div class="item3">2020/06/22 ~ 2020/06/26</div>
    </div>

    <div class="btn1"><button><a href="/"></a> 投稿する</button></div>

    <!-- 記事はすべてDBからselect-->
    <div class="box3">
      <div class="item5">写真が入るよ</div>
      <div class="item6">記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ
        記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ
        記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ
        記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ記事が入るよ 記事が入るよ
        記事が入るよ 記事が入るよ</div>
      <div class="item7">2020/06/26/19：30</div>
      <div class="item8"><button>削除</button></div>
    </div>
     <div class="box3">
       <div class="item5">写真が入るよ</div>
       <div class="item6">記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ</div>
       <div class="item7">2020/06/26/19：30</div>
       <div class="item8"><button>削除</button></div>
       </div>
     <div class="box3">
       <div class="item5">写真が入るよ</div>
       <div class="item6">記事が入るよ 記事が入るよ 記事が入るよ 記事が入るよ</div>
       <div class="item7">2020/06/26/19：30</div>
       <div class="item8"><button>削除</button></div>
     </div>


  </div>
   
</body>
</html>