<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class="title">マイページ</div>
<div class="mypg_box1">
    <div class="f_item1">ユーザー名</div>
    <div class="f_item2">{{user_info[0]}}</div>
</div>
<div class="mypg_box1">
    <div class="f_item1">メールアドレス</div>
    <div class="f_item2">{{user_info[1]}}</div>
</div>
<div class="mypg_box1">
    <div class="f_item1">パスワード</div>
    <div class="f_item2">{{user_info[2]}}</div>
    <div class="f_item3"><button><a href="/editmypage">プロフィール編集</a></button></div>
</div>

<!--日付・タイトルはDBからselect -->
{% for item in page %}
<div class="mypg_box2">
    <!-- <div class="my_item">{{item["area"]}}</div> 県表示未実装-->
    <div class="my_item1">{{item["month"]}}/{{item["date"]}}</div>
    <div class="my_item2"><a href="/main/{{item['pageid']}}"> {{item["title"]}}</a></div>
    <div class="my_item3"><a href="/edit/{{item['pageid']}}">編集する</a></div>
    <!-- 寺尾追記 -->
    <div class="my_item4"><a href="/deletepage/{{item['pageid']}}">削除する</a></div>
</div>
{% endfor %}

{% endblock %}