<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyPage</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  <div class="main">
    <div class="title">マイページ</div>
    <div class="mypg_box1">
      <div class="form">
        <div class="f_item">ユーザー名</div>
        <div><button>編集</button></div>
      </div>
      <div class="form">
        <div class="f_item">メールアドレス</div>
        <div><button>編集</button></div>
      </div>
      <div class="form">
        <div class="f_item">パスワード</div>
        <div><button>編集</button></div>
      </div>
    </div>

   <!--日付・タイトルはDBからselect -->
   <div class="mypg_box2">
     <div class="my_item">エリア</div>
     <div class="my_item1">日付</div>
     <div class="my_item2">記事タイトルが入るよ</div>
     <div class="my_item3">編集する</div>
     <div class="my_item4">削除する</div>
   </div>
   <div class="mypg_box2">
     <div class="my_item">エリア</div>
     <div class="my_item1">日付</div>
     <div class="my_item2">記事タイトルが入るよ記事タイトルが入るよ記事タイトルが入るよ記事タイトルが入るよ記事タイトルが入るよ記事タイトルが入るよ記事タイトルが入るよ</div>
     <div class="my_item3">編集する</div>
     <div class="my_item4">削除する</div>
   </div>
   <div class="mypg_box2">
     <div class="my_item">エリア</div>
     <div class="my_item1">日付</div>
     <div class="my_item2">記事タイトルが入るよ</div>
     <div class="my_item3">編集する</div>
     <div class="my_item4">削除する</div>
   </div>
  </div>

</body>
</html>