<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<div class="title"></div>

<form action="/pageadd" method="POST">
    <br>
    <div class="trav">
        <h2>投稿に必要な項目を記入してね。<br>
            送信すると投稿出来るよ！</h2>
    </div>
    <div class="trav1">
        <br>
        <div class="traa">
            <div class="trav2">タイトル</div>
            <input type="text" name="title" size="40" naxlength="50">
            <div class="trav2">出発日選択</div>
            <div class="trav2">
                <label for="month">月：</label>
                <select id="month" name="month">
                    <option value="01" selected>１月</option>
                    <option value="02">２月</option>
                    <option value="03">３月</option>
                    <option value="04">４月</option>
                    <option value="05">５月</option>
                    <option value="06">６月</option>
                    <option value="07">７月</option>
                    <option value="08">８月</option>
                    <option value="09">９月</option>
                    <option value="10">１０月</option>
                    <option value="11">１１月</option>
                    <option value="12">１２月</option>
                </select>
            </div>
            <div class="trav2">
                <label for="day">日：</label>
                <select id="day" name="date">
                    <option value="01" selected>１日</option>
                    <option value="02">２日</option>
                    <option value="03">３日</option>
                    <option value="04">４日</option>
                    <option value="05">５日</option>
                    <option value="06">６日</option>
                    <option value="07">７日</option>
                    <option value="08">８日</option>
                    <option value="09">９日</option>
                    <option value="10">１０日</option>
                    <option value="11">１１日</option>
                    <option value="12">１２日</option>
                    <option value="13">１３日</option>
                    <option value="14">１４日</option>
                    <option value="15">１５日</option>
                    <option value="16">１６日</option>
                    <option value="17">１７日</option>
                    <option value="18">１８日</option>
                    <option value="19">１９日</option>
                    <option value="20">２０日</option>
                    <option value="21">２１日</option>
                    <option value="22">２２日</option>
                    <option value="23">２３日</option>
                    <option value="24">２４日</option>
                    <option value="25">２５日</option>
                    <option value="26">２６日</option>
                    <option value="27">２７日</option>
                    <option value="28">２８日</option>
                    <option value="29">２９日</option>
                    <option value="30">３０日</option>
                    <option value="31">３１日</option>

                </select>
            </div>
            <div class="trav2">
                <label for="period">期間：</label>
                <select id="period" name="period">
                    <option value="日帰り" selected>日帰り</option>
                    <option value="1泊2日">1泊2日</option>
                    <option value="2泊3日">2泊3日</option>
                    <option value="3泊4日">3泊4日</option>
                    <option value="4泊5日">4泊5日</option>
                    <option value="5泊6日">5泊6日</option>
                    <option value="6泊7日">6日7日</option>
                    <option value="08">1週間以上</option>
                </select>
            </div>
            <div class="trav2">
                <label for="place">都道府県選択：</label>
                <select id="place" name="prefecture">
                    <option value="1" selected>北海道</option>
                    <option value="2">青森</option>
                    <option value="3">岩手</option>
                    <option value="4">宮城</option>
                    <option value="5">秋田</option>
                    <option value="6">山形</option>
                    <option value="7">福島</option>
                    <option value="8">茨木</option>
                    <option value="9">栃木</option>
                    <option value="10">群馬</option>
                    <option value="11">埼玉</option>
                    <option value="12">千葉</option>
                    <option value="13">東京</option>
                    <option value="14">神奈川</option>
                    <option value="15">新潟</option>
                    <option value="16">富山</option>
                    <option value="17">石川</option>
                    <option value="18">福井</option>
                    <option value="19">長野</option>
                    <option value="20">岐阜</option>
                    <option value="21">山梨</option>
                    <option value="22">静岡</option>
                    <option value="23">愛知</option>
                    <option value="24">三重</option>
                    <option value="25">滋賀</option>
                    <option value="26">京都</option>
                    <option value="27">大阪</option>
                    <option value="28">奈良</option>
                    <option value="29">和歌山</option>
                    <option value="30">兵庫</option>
                    <option value="31">岡山</option>
                    <option value="32">広島</option>
                    <option value="33">山口</option>
                    <option value="34">鳥取</option>
                    <option value="35">島根</option>
                    <option value="36">香川</option>
                    <option value="37">徳島</option>
                    <option value="38">愛媛</option>
                    <option value="39">高知</option>
                    <option value="40">福岡</option>
                    <option value="41">佐賀</option>
                    <option value="42">長崎</option>
                    <option value="43">大分</option>
                    <option value="44">宮崎</option>
                    <option value="45">熊本</option>
                    <option value="46">鹿児島</option>
                    <option value="47">沖縄</option>
                </select>
            </div>

            <div class="trav2">
                <label for="editpass">編集パス：</label>
                <input type="password" name="editpass" size="30" naxlength="50">
            </div>
            <br>
            <input type="submit" value="送信" name="save">
        </div>
    </div>
</form>
<br>
<br>
{% endblock %}